In [10]:
import pandas as pd
import numpy as np

In [126]:
fname = 'xtrain.csv'

In [127]:
data = pd.read_csv(fname)

In [128]:
len(data)

1021

In [129]:
data.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,3,1,"Goldsmith, Mrs. Frank John (Emily Alice Brown)",False,31,1,1,363291,20.5250,NaN,S,C D,NaN,"Strood, Kent, England Detroit, MI"
1,3,0,"Karlsson, Mr. Nils August",True,22,0,0,350060,7.5208,NaN,S,NaN,NaN,NaN
2,3,1,"O'Leary, Miss. Hanora ""Norah""",False,NaN,0,0,330919,7.8292,NaN,Q,13,NaN,NaN
3,1,0,"Douglas, Mr. Walter Donald",True,50,1,0,PC 17761,106.4250,C86,C,NaN,62,"Deephaven, MN / Cedar Rapids, IA"
4,2,1,"Brown, Mrs. Thomas William Solomon (Elizabeth ...",False,40,1,1,29750,39.0000,NaN,S,14,NaN,"Cape Town, South Africa / Seattle, WA"

In [130]:
data.count()

pclass       1021
survived     1021
name         1021
sex          1021
age           820
sibsp        1021
parch        1021
ticket       1021
fare         1020
cabin         227
embarked     1020
boat          367
body           97
home.dest     579
dtype: int64

In [131]:
data['age'].min(),data['age'].max()

(0.16669999999999999, 80.0)

In [132]:
data['survived'].value_counts()

0    648
1    373
Name: survived, dtype: int64

In [133]:
data['sex'].value_counts()

True     658
False    363
Name: sex, dtype: int64

In [134]:
columns_target= ['survived']

In [135]:
columns_train = ['age','pclass','sex','fare']

In [136]:
X= data[columns_train]
Y= data[columns_target]

In [137]:
X['sex'].isnull().sum()

0

In [138]:
X['pclass'].isnull().sum()

0

In [139]:
X['fare'].isnull().sum()

1

In [140]:
X['age'].isnull().sum()

201

In [141]:
X['age'] = X['age'].fillna(X['age'].median())
X['age'].isnull().sum()

/usr/local/lib/python2.7/dist-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

0

In [142]:
X['fare'] = X['fare'].fillna(X['fare'].median())
X['fare'].isnull().sum()

/usr/local/lib/python2.7/dist-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

0

In [143]:
X['age'].isnull().sum()

0

In [144]:
X['fare'].isnull().sum()

0

In [145]:
d={'male':0,'female':1}

In [146]:
data.convert_objects(convert_numeric=True)
data.fillna(0, inplace=True)

/usr/local/lib/python2.7/dist-packages/ipykernel/__main__.py:1: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  if __name__ == '__main__':

In [147]:
def handle_non_numerical_data(X):
        text_digit_vals = {}
        def convert_to_int(val):
            return text_digit_vals[val]

        if X['sex'].dtype != np.int64 and X['sex'].dtype != np.float64:
            column_contents = X['sex'].values.tolist()
            unique_elements = set(column_contents)
            x = 0
            for unique in unique_elements:
                if unique not in text_digit_vals:
                    text_digit_vals[unique] = x
                    x+=1

            X['sex'] = list(map(convert_to_int, X['sex']))

            return X

In [149]:
data = handle_non_numerical_data(X)
print(X.head())

   age  pclass  sex      fare
0   31       3    0   20.5250
1   22       3    1    7.5208
2   28       3    0    7.8292
3   50       1    1  106.4250
4   40       2    0   39.0000

In [150]:
X.head()

   age  pclass  sex      fare
0   31       3    0   20.5250
1   22       3    1    7.5208
2   28       3    0    7.8292
3   50       1    1  106.4250
4   40       2    0   39.0000

In [151]:
X

          age  pclass  sex      fare
0     31.0000       3    0   20.5250
1     22.0000       3    1    7.5208
2     28.0000       3    0    7.8292
3     50.0000       1    1  106.4250
4     40.0000       2    0   39.0000
5     39.0000       1    0  110.8833
6     33.0000       3    0   20.5750
7     26.0000       3    1    7.7750
8     42.0000       1    1   42.5000
9      5.0000       2    0   27.7500
10    28.0000       2    1   10.7083
11    36.0000       2    1   12.8750
12    43.0000       2    1   26.2500
13     0.4167       3    1    8.5167
14    26.0000       3    1    7.7750
15    24.0000       2    0   14.5000
16    45.0000       2    0   13.5000
17    54.0000       1    1   77.2875
18    66.0000       2    1   10.5000
19    43.0000       3    1    7.8958
20    28.0000       3    1    7.2500
21    42.0000       3    1    8.4042
22    18.0000       3    0   14.4542
23    32.0000       3    1   22.5250
24    24.0000       3    1    8.0500
25    51.0000       3    1    7.0542
26    45.0000       1    0   52.5542
27    61.0000       1    1   32.3208
28     9.0000       3    1   20.5250
29    28.0000       3    0    7.8792
...       ...     ...  ...       ...
991   16.0000       2    1   10.5000
992    9.0000       3    1    3.1708
993   31.0000       2    1   10.5000
994   28.0000       3    0    7.7500
995    0.3333       3    1   14.4000
996   61.0000       1    1  262.3750
997   47.0000       1    0   52.5542
998   42.0000       2    1   27.0000
999   28.0000       3    1   21.6792
1000  57.0000       1    1  146.5208
1001  28.0000       3    0   25.4667
1002  28.0000       3    1    7.7500
1003   8.0000       2    1   36.7500
1004  28.0000       3    1   56.4958
1005  34.0000       2    1   13.0000
1006  22.0000       3    1    7.2500
1007  22.0000       1    0   59.4000
1008  28.0000       3    1    7.7500
1009  28.0000       3    0   22.3583
1010  27.0000       1    1   30.5000
1011  57.0000       2    1   13.0000
1012  25.0000       3    1    7.7958
1013  34.0000       2    1   26.0000
1014  28.0000       1    0  133.6500
1015  28.0000       3    0   15.5000
1016  28.0000       3    0    7.6292
1017  18.0000       3    0    7.7750
1018  28.5000       3    1   16.1000
1019  26.0000       3    0    7.9250
1020  28.0000       3    0    7.8958

[1021 rows x 4 columns]

In [152]:
from sklearn import svm

In [153]:
clf=svm.LinearSVC()

In [154]:
clf.fit(X,Y)

/usr/lib/python2.7/dist-packages/sklearn/utils/validation.py:515: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LinearSVC(C=1.0, class_weight=None, dual=True, fit_intercept=True,
     intercept_scaling=1, loss='squared_hinge', max_iter=1000,
     multi_class='ovr', penalty='l2', random_state=None, tol=0.0001,
     verbose=0)

In [160]:
test = pd.read_csv('xtest.csv')
Z = test[columns_train]
Z['age'] = X['age'].fillna(X['age'].median())
X['age'].isnull().sum()
Z = handle_non_numerical_data(Z)
print(X.head())

   age  pclass  sex      fare
0   31       3    0   20.5250
1   22       3    1    7.5208
2   28       3    0    7.8292
3   50       1    1  106.4250
4   40       2    0   39.0000

/usr/local/lib/python2.7/dist-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/usr/local/lib/python2.7/dist-packages/ipykernel/__main__.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [161]:
pred = clf.predict(Z)

In [162]:
print pred

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0
 0 0 0 1 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0
 0 0 1 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0
 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 1 0 1 0 1 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 1 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]

In [163]:
for i in pred:
    print(i)

0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
1
0
0
0
0
0
0
0
0
0
0
0
0
1
0
0
0
0
0
0
0
0
0
0
0
1
0
0
0
0
0
0
0
1
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
1
0
0
0
0
0
0
1
0
0
0
0
0
1
0
0
0
0
0
0
0
0
0
0
0
1
0
0
0
0
0
0
0
0
0
0
0
0
0
1
0
0
1
0
0
0
0
0
0
0
1
0
0
0
0
0
0
0
0
1
0
1
0
1
0
0
0
0
0
0
0
0
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
1
0
1
0
0
0
0
0
0
0
0
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
1
0
0
0
1
0
0
0
0
0
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0